{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "experimentalTernaries": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
